In [43]:
import pandas as pd
from pathlib import Path
data_root = Path('.')
train_source = pd.read_parquet(data_root / 'label_train_source.parquet')
train_target = pd.read_parquet(data_root / 'label_train_target.parquet')
test_source = pd.read_parquet(data_root / 'label_test_source.parquet')
meta_song = pd.read_parquet(data_root / 'meta_song.parquet')
# meta_song_composer = pd.read_parquet(data_root / 'meta_song_composer.parquet')
# meta_song_genre = pd.read_parquet(data_root / 'meta_song_genre.parquet')
# meta_song_lyricist = pd.read_parquet(data_root / 'meta_song_lyricist.parquet')
# meta_song_producer = pd.read_parquet(data_root / 'meta_song_producer.parquet')
# meta_song_titletext = pd.read_parquet(data_root / 'meta_song_titletext.parquet')


train_source.dtypes

session_id          int64
song_id            object
unix_played_at      int64
play_status         int64
login_type          int64
listening_order     int64
dtype: object

In [44]:
# map song_id to song_index to save memory and speed up 
meta_song['song_index'] = meta_song.index
train_source = train_source.merge(meta_song[['song_id', 'song_index']], on='song_id', how='left')
train_target = train_target.merge(meta_song[['song_id', 'song_index']], on='song_id', how='left')
test_source = test_source.merge(meta_song[['song_id', 'song_index']], on='song_id', how='left')
del train_source['song_id']
del train_target['song_id']
del test_source['song_id']

In [45]:
train_source['previous1_song_index'] = train_source.groupby('session_id')['song_index'].shift(1)
train_source['previous2_song_index'] = train_source.groupby('session_id')['song_index'].shift(2)
train_source['previous3_song_index'] = train_source.groupby('session_id')['song_index'].shift(3)
train_source['previous4_song_index'] = train_source.groupby('session_id')['song_index'].shift(4)
train_source['previous5_song_index'] = train_source.groupby('session_id')['song_index'].shift(5)
test_source['previous1_song_index'] = test_source.groupby('session_id')['song_index'].shift(1)
test_source['previous2_song_index'] = test_source.groupby('session_id')['song_index'].shift(2)
test_source['previous3_song_index'] = test_source.groupby('session_id')['song_index'].shift(3)
test_source['previous4_song_index'] = test_source.groupby('session_id')['song_index'].shift(4)
test_source['previous5_song_index'] = test_source.groupby('session_id')['song_index'].shift(5)
history_fields = ['previous1_song_index', 'previous2_song_index', 'previous3_song_index', 'previous4_song_index', 'previous5_song_index', 'song_index']
history=pd.concat([train_source[history_fields], test_source[history_fields]], ignore_index=True)
history.dropna(inplace=True)
history

,previous1_song_index,previous2_song_index,previous3_song_index,previous4_song_index,previous5_song_index,song_index
5,955400.0,753834.0,753834.0,753834.0,283767.0,13609
6,13609.0,955400.0,753834.0,753834.0,753834.0,955400
7,955400.0,13609.0,955400.0,753834.0,753834.0,972005
8,972005.0,955400.0,13609.0,955400.0,753834.0,13609
9,13609.0,972005.0,955400.0,13609.0,955400.0,753834
...,...,...,...,...,...,...
14306455,154541.0,125431.0,596540.0,219518.0,618643.0,408927
14306456,408927.0,154541.0,125431.0,596540.0,219518.0,125430
14306457,125430.0,408927.0,154541.0,125431.0,596540.0,490246
14306458,490246.0,125430.0,408927.0,154541.0,125431.0,482103
14306459,482103.0,490246.0,125430.0,408927.0,154541.0,678277

In [46]:
gram1 = history[['previous1_song_index', 'song_index']].groupby(['previous1_song_index']).value_counts(normalize=True, sort=True)
gram1 = gram1.reset_index().groupby('previous1_song_index').first().reset_index()
gram1

        previous1_song_index  song_index  proportion
0                        1.0     1014814    1.000000
1                        3.0       87846    1.000000
2                        4.0      136296    0.166667
3                        5.0           5    0.086957
4                        6.0      519864    1.000000
...                      ...         ...         ...
640551             1030707.0       76930    0.117647
640552             1030708.0      736280    0.192000
640553             1030709.0      915034    0.051282
640554             1030710.0     1030649    0.962025
640555             1030711.0       21429    0.125000

[640556 rows x 3 columns]

In [47]:
gram2 = history[['previous2_song_index', 'previous1_song_index', 'song_index']].groupby(['previous2_song_index', 'previous1_song_index']).value_counts(normalize=True, sort=True)
gram2 = gram2.reset_index().groupby(['previous2_song_index','previous1_song_index']).first().reset_index()
gram2

         previous2_song_index  previous1_song_index  song_index  proportion
0                         1.0             1014814.0      799780         1.0
1                         3.0               87846.0      897082         1.0
2                         4.0               18255.0      987697         1.0
3                         4.0              136296.0      397676         1.0
4                         4.0              435266.0      792055         1.0
...                       ...                   ...         ...         ...
7063533             1030711.0              642148.0      913721         1.0
7063534             1030711.0              643112.0        6835         1.0
7063535             1030711.0              946599.0      125355         1.0
7063536             1030711.0              967484.0      609494         1.0
7063537             1030711.0              967508.0      561432         1.0

[7063538 rows x 4 columns]

In [48]:
gram3 = history[['previous3_song_index', 'previous2_song_index', 'previous1_song_index', 'song_index']].groupby(['previous3_song_index', 'previous2_song_index', 'previous1_song_index']).value_counts(normalize=True, sort=True)
gram3 = gram3.reset_index().groupby(['previous3_song_index', 'previous2_song_index','previous1_song_index']).first().reset_index()
gram3

,previous3_song_index,previous2_song_index,previous1_song_index,song_index,proportion
0,1.0,1014814.0,799780.0,938083,1.0
1,3.0,87846.0,897082.0,813298,1.0
2,3.0,906384.0,860711.0,44990,1.0
3,4.0,18255.0,987697.0,279996,1.0
4,4.0,136296.0,397676.0,47115,1.0
...,...,...,...,...,...
8478645,1030711.0,643112.0,6835.0,111132,1.0
8478646,1030711.0,936567.0,1023129.0,571476,1.0
8478647,1030711.0,946599.0,125355.0,552899,1.0
8478648,1030711.0,967484.0,609494.0,967484,1.0
8478649,1030711.0,967508.0,561432.0,525414,1.0

In [49]:
gram4 = history[['previous4_song_index', 'previous3_song_index', 'previous2_song_index', 'previous1_song_index', 'song_index']].groupby(['previous4_song_index', 'previous3_song_index', 'previous2_song_index', 'previous1_song_index']).value_counts(normalize=True, sort=True)
gram4 = gram4.reset_index().groupby(['previous4_song_index', 'previous3_song_index', 'previous2_song_index','previous1_song_index']).first().reset_index()
gram4

,previous4_song_index,previous3_song_index,previous2_song_index,previous1_song_index,song_index,proportion
0,1.0,1014814.0,799780.0,938083.0,647966,1.0
1,3.0,87846.0,897082.0,813298.0,797523,1.0
2,3.0,401307.0,318166.0,401307.0,107851,1.0
3,3.0,906384.0,860711.0,44990.0,243158,1.0
4,4.0,18255.0,987697.0,279996.0,55469,1.0
...,...,...,...,...,...,...
8780502,1030711.0,643112.0,6835.0,111132.0,552899,1.0
8780503,1030711.0,936567.0,1023129.0,571476.0,967508,1.0
8780504,1030711.0,946599.0,125355.0,552899.0,539215,1.0
8780505,1030711.0,967484.0,609494.0,967484.0,725932,1.0
8780506,1030711.0,967508.0,561432.0,525414.0,21429,1.0

In [50]:
gram5 = history[['previous5_song_index', 'previous4_song_index', 'previous3_song_index', 'previous2_song_index', 'previous1_song_index', 'song_index']].groupby(['previous5_song_index', 'previous4_song_index', 'previous3_song_index', 'previous2_song_index', 'previous1_song_index']).value_counts(normalize=True, sort=True)
gram5 = gram5.reset_index().groupby(['previous5_song_index', 'previous4_song_index', 'previous3_song_index', 'previous2_song_index','previous1_song_index']).first().reset_index()
gram5

,previous5_song_index,previous4_song_index,previous3_song_index,previous2_song_index,previous1_song_index,song_index,proportion
0,1.0,488417.0,697989.0,416308.0,570834.0,146850,1.0
1,1.0,1014814.0,799780.0,938083.0,647966.0,589282,1.0
2,3.0,87846.0,897082.0,813298.0,797523.0,821017,1.0
3,3.0,200709.0,1021838.0,995187.0,964869.0,168421,1.0
4,3.0,401307.0,318166.0,401307.0,107851.0,318166,1.0
...,...,...,...,...,...,...,...
8950655,1030711.0,643112.0,6835.0,111132.0,552899.0,67869,1.0
8950656,1030711.0,936567.0,1023129.0,571476.0,967508.0,119291,1.0
8950657,1030711.0,946599.0,125355.0,552899.0,539215.0,561432,1.0
8950658,1030711.0,967484.0,609494.0,967484.0,725932.0,934560,1.0
8950659,1030711.0,967508.0,561432.0,525414.0,21429.0,543311,1.0

In [51]:
train_X = train_source.pivot_table(index='session_id', columns='listening_order', values='song_index', aggfunc='first', fill_value=0)
train_X

listening_order,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
session_id,,,,,,,,,,,,,,,,,,,,
1,354121,1030664,642780,280721,90293,766515,769968,1007853,249587,615299,166527,973329,489807,789395,832194,962778,913263,910165,194387,722034
2,256188,144246,400761,625467,281059,880625,849960,40747,360309,123421,360309,123421,158192,534994,442771,659818,415453,307906,523383,672083
3,514974,300949,632246,353623,93125,165609,240446,380094,139121,316125,516472,389977,385637,673916,623997,332935,133500,606328,578482,261314
4,277607,219437,138361,622824,967426,700237,868800,490471,835071,628370,7085,238820,503008,238820,503008,503008,824980,267047,238820,709693
5,892347,509757,97064,66960,896666,74810,850960,422356,328649,328649,325229,672168,337713,14961,685694,7267,589816,482509,77515,246245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715317,323105,408854,256899,285864,303707,21973,57762,514986,8113,230578,368936,514985,536976,615765,292762,506580,505242,614405,198412,422547
715320,741894,829501,899618,737589,455527,1018618,737589,899618,430854,732106,732103,1027226,967682,98899,239043,604807,758868,918865,967471,970952
715321,647388,647388,210671,918865,528842,953923,262081,102874,353437,569657,823692,42423,789301,1026608,278029,791040,791040,832786,277358,522132
715322,766052,247342,82260,126631,82260,126631,82260,192965,926821,37200,766052,247342,832762,953126,1030620,880639,722323,825005,247342,832762
715323,1016460,986086,771261,546465,424147,109019,863348,402292,283767,519715,395897,261706,749849,309479,566372,587574,152114,422873,935208,67339

In [52]:
train_Y = train_target.pivot_table(index='session_id', columns='listening_order', values='song_index', aggfunc='first', fill_value=0)
train_Y

listening_order      21      22      23      24      25
session_id
1                624433  901147  810092   74420  250714
2                 52476  249524  514925  495260  130336
3                203739  402134  129395  230525  946149
4                453065  709693  453065  709693  453065
5                186586  338120  186586  338120  130652
...                 ...     ...     ...     ...     ...
715317           615766  560313  553343  624094  258244
715320           784715  745441  716579  732103  732103
715321           681203   90781  692730  469116  592612
715322           953126  766052   82260  126631   82260
715323           355650  170449  233843  931389  935947

[572259 rows x 5 columns]

In [53]:
df = pd.concat([train_X[[16,17,18,19,20]], train_Y], axis=1)
df

listening_order,16,17,18,19,20,21,22,23,24,25
session_id,,,,,,,,,,
1,962778,913263,910165,194387,722034,624433,901147,810092,74420,250714
2,659818,415453,307906,523383,672083,52476,249524,514925,495260,130336
3,332935,133500,606328,578482,261314,203739,402134,129395,230525,946149
4,503008,824980,267047,238820,709693,453065,709693,453065,709693,453065
5,7267,589816,482509,77515,246245,186586,338120,186586,338120,130652
...,...,...,...,...,...,...,...,...,...,...
715317,506580,505242,614405,198412,422547,615766,560313,553343,624094,258244
715320,604807,758868,918865,967471,970952,784715,745441,716579,732103,732103
715321,791040,791040,832786,277358,522132,681203,90781,692730,469116,592612
715322,880639,722323,825005,247342,832762,953126,766052,82260,126631,82260
715323,587574,152114,422873,935208,67339,355650,170449,233843,931389,935947

In [54]:
gram1_predict = pd.merge(df, gram1, left_on=[20], right_on=['previous1_song_index'], how='left')

In [55]:
(gram1_predict['song_index'] == gram1_predict[21]).mean()

0.14782642125331363

In [56]:
gram1_predict['p'] = gram1_predict['song_index'].fillna(gram1_predict[20]).astype(int).values

In [57]:
(gram1_predict['p'] == gram1_predict[21]).mean()

0.14826678130007567

In [58]:
import rich
r = gram1_predict[[21,22,23,24,25]] == gram1_predict[['p']].values
r[25] = r[25] & ~(r[[21,22,23,24]].any(axis=1))
r[24] = r[24] & ~(r[[21,22,23]].any(axis=1))
r[23] = r[23] & ~(r[[21,22]].any(axis=1))
r[22] = r[22] & ~(r[[21]].any(axis=1))
w = [1., 0.63, 0.5, 0.43, 0.38]
all_songs = meta_song.shape[0]
dcg = r.mean() @ w
predict_songs = gram1_predict['p'].sample(frac=0.25).nunique()
fill_songs = 4*test_source['session_id'].nunique()
coverage = (predict_songs+fill_songs)/all_songs
rich.print({'dcg':dcg, 'coverage':coverage, 'total':dcg*0.8+coverage*0.2})

{'dcg': 0.16769132508182485, 'coverage': 0.599407982055123, 'total': 0.2540346564764845}

In [59]:
for k in ['song_index', 'previous1_song_index', 'proportion']:
    del gram1_predict[k]
gram1_predict

,16,17,18,19,20,21,22,23,24,25,p
0,962778,913263,910165,194387,722034,624433,901147,810092,74420,250714,722034
1,659818,415453,307906,523383,672083,52476,249524,514925,495260,130336,672083
2,332935,133500,606328,578482,261314,203739,402134,129395,230525,946149,261314
3,503008,824980,267047,238820,709693,453065,709693,453065,709693,453065,709693
4,7267,589816,482509,77515,246245,186586,338120,186586,338120,130652,365352
...,...,...,...,...,...,...,...,...,...,...,...
572254,506580,505242,614405,198412,422547,615766,560313,553343,624094,258244,198412
572255,604807,758868,918865,967471,970952,784715,745441,716579,732103,732103,745441
572256,791040,791040,832786,277358,522132,681203,90781,692730,469116,592612,340530
572257,880639,722323,825005,247342,832762,953126,766052,82260,126631,82260,716463
572258,587574,152114,422873,935208,67339,355650,170449,233843,931389,935947,678744

In [60]:
gram2_predict = pd.merge(gram1_predict, gram2, left_on=[19,20], right_on=['previous2_song_index', 'previous1_song_index'], how='left')
for k in ['previous1_song_index', 'previous2_song_index', 'proportion']:
    del gram2_predict[k]
gram2_predict

,16,17,18,19,20,21,22,23,24,25,p,song_index
0,962778,913263,910165,194387,722034,624433,901147,810092,74420,250714,722034,NaN
1,659818,415453,307906,523383,672083,52476,249524,514925,495260,130336,672083,364625.0
2,332935,133500,606328,578482,261314,203739,402134,129395,230525,946149,261314,NaN
3,503008,824980,267047,238820,709693,453065,709693,453065,709693,453065,709693,NaN
4,7267,589816,482509,77515,246245,186586,338120,186586,338120,130652,365352,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
572254,506580,505242,614405,198412,422547,615766,560313,553343,624094,258244,198412,615766.0
572255,604807,758868,918865,967471,970952,784715,745441,716579,732103,732103,745441,967471.0
572256,791040,791040,832786,277358,522132,681203,90781,692730,469116,592612,340530,NaN
572257,880639,722323,825005,247342,832762,953126,766052,82260,126631,82260,716463,953126.0
572258,587574,152114,422873,935208,67339,355650,170449,233843,931389,935947,678744,NaN

In [61]:
(gram2_predict['song_index'] == gram2_predict[21]).mean()

0.21368296523077837

In [62]:
gram2_predict['p2'] = gram2_predict['song_index'].fillna(gram2_predict['p']).astype(int)
(gram2_predict['p2'] == gram2_predict[21]).mean()

0.22413103157835876

In [63]:
cond = (gram2_predict[19] == gram2_predict[20])
gram2_predict['p3'] = gram2_predict['p2'].where(~cond, gram2_predict[20])
(gram2_predict['p3'] == gram2_predict[21]).mean()

0.22513232644659148

In [64]:
r = gram2_predict[[21,22,23,24,25]] == gram2_predict[['p2']].values
r[25] = r[25] & ~(r[[21,22,23,24]].any(axis=1))
r[24] = r[24] & ~(r[[21,22,23]].any(axis=1))
r[23] = r[23] & ~(r[[21,22]].any(axis=1))
r[22] = r[22] & ~(r[[21]].any(axis=1))
w = [1., 0.63, 0.5, 0.43, 0.38]
all_songs = meta_song.shape[0]
dcg = r.mean() @ w
predict_songs = gram2_predict['p2'].sample(frac=0.25).nunique()
fill_songs = 4*test_source['session_id'].nunique()
coverage = (predict_songs+fill_songs)/all_songs
rich.print({'dcg':dcg, 'coverage':coverage, 'total':dcg*0.8+coverage*0.2})

{'dcg': 0.24136640926573458, 'coverage': 0.6047557416620744, 'total': 0.31404427574500254}

In [99]:
gram2_predict

,16,17,18,19,20,21,22,23,24,25,p,p2
0,962778,913263,910165,194387,722034,624433,901147,810092,74420,250714,722034,722034
1,659818,415453,307906,523383,672083,52476,249524,514925,495260,130336,672083,364625
2,332935,133500,606328,578482,261314,203739,402134,129395,230525,946149,261314,261314
3,503008,824980,267047,238820,709693,453065,709693,453065,709693,453065,709693,709693
4,7267,589816,482509,77515,246245,186586,338120,186586,338120,130652,365352,365352
...,...,...,...,...,...,...,...,...,...,...,...,...
572254,506580,505242,614405,198412,422547,615766,560313,553343,624094,258244,198412,615766
572255,604807,758868,918865,967471,970952,784715,745441,716579,732103,732103,745441,967471
572256,791040,791040,832786,277358,522132,681203,90781,692730,469116,592612,340530,340530
572257,880639,722323,825005,247342,832762,953126,766052,82260,126631,82260,716463,953126
572258,587574,152114,422873,935208,67339,355650,170449,233843,931389,935947,678744,678744

In [66]:
for k in ['song_index', 'p3']:
    del gram2_predict[k]
gram2_predict

,16,17,18,19,20,21,22,23,24,25,p,p2
0,962778,913263,910165,194387,722034,624433,901147,810092,74420,250714,722034,722034
1,659818,415453,307906,523383,672083,52476,249524,514925,495260,130336,672083,364625
2,332935,133500,606328,578482,261314,203739,402134,129395,230525,946149,261314,261314
3,503008,824980,267047,238820,709693,453065,709693,453065,709693,453065,709693,709693
4,7267,589816,482509,77515,246245,186586,338120,186586,338120,130652,365352,365352
...,...,...,...,...,...,...,...,...,...,...,...,...
572254,506580,505242,614405,198412,422547,615766,560313,553343,624094,258244,198412,615766
572255,604807,758868,918865,967471,970952,784715,745441,716579,732103,732103,745441,967471
572256,791040,791040,832786,277358,522132,681203,90781,692730,469116,592612,340530,340530
572257,880639,722323,825005,247342,832762,953126,766052,82260,126631,82260,716463,953126
572258,587574,152114,422873,935208,67339,355650,170449,233843,931389,935947,678744,678744

In [67]:
gram3_predict = pd.merge(gram2_predict, gram3, left_on=[18,19,20], right_on=['previous3_song_index', 'previous2_song_index', 'previous1_song_index'], how='left')
gram3_predict

,16,17,18,19,20,21,22,23,24,25,p,p2,previous3_song_index,previous2_song_index,previous1_song_index,song_index,proportion
0,962778,913263,910165,194387,722034,624433,901147,810092,74420,250714,722034,722034,NaN,NaN,NaN,NaN,NaN
1,659818,415453,307906,523383,672083,52476,249524,514925,495260,130336,672083,364625,NaN,NaN,NaN,NaN,NaN
2,332935,133500,606328,578482,261314,203739,402134,129395,230525,946149,261314,261314,NaN,NaN,NaN,NaN,NaN
3,503008,824980,267047,238820,709693,453065,709693,453065,709693,453065,709693,709693,NaN,NaN,NaN,NaN,NaN
4,7267,589816,482509,77515,246245,186586,338120,186586,338120,130652,365352,365352,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572254,506580,505242,614405,198412,422547,615766,560313,553343,624094,258244,198412,615766,614405.0,198412.0,422547.0,615766.0,1.0
572255,604807,758868,918865,967471,970952,784715,745441,716579,732103,732103,745441,967471,NaN,NaN,NaN,NaN,NaN
572256,791040,791040,832786,277358,522132,681203,90781,692730,469116,592612,340530,340530,NaN,NaN,NaN,NaN,NaN
572257,880639,722323,825005,247342,832762,953126,766052,82260,126631,82260,716463,953126,825005.0,247342.0,832762.0,953126.0,1.0
572258,587574,152114,422873,935208,67339,355650,170449,233843,931389,935947,678744,678744,NaN,NaN,NaN,NaN,NaN

In [68]:
for k in ['previous3_song_index', 'previous2_song_index', 'previous1_song_index', 'proportion']:
    del gram3_predict[k]
gram3_predict

,16,17,18,19,20,21,22,23,24,25,p,p2,song_index
0,962778,913263,910165,194387,722034,624433,901147,810092,74420,250714,722034,722034,NaN
1,659818,415453,307906,523383,672083,52476,249524,514925,495260,130336,672083,364625,NaN
2,332935,133500,606328,578482,261314,203739,402134,129395,230525,946149,261314,261314,NaN
3,503008,824980,267047,238820,709693,453065,709693,453065,709693,453065,709693,709693,NaN
4,7267,589816,482509,77515,246245,186586,338120,186586,338120,130652,365352,365352,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
572254,506580,505242,614405,198412,422547,615766,560313,553343,624094,258244,198412,615766,615766.0
572255,604807,758868,918865,967471,970952,784715,745441,716579,732103,732103,745441,967471,NaN
572256,791040,791040,832786,277358,522132,681203,90781,692730,469116,592612,340530,340530,NaN
572257,880639,722323,825005,247342,832762,953126,766052,82260,126631,82260,716463,953126,953126.0
572258,587574,152114,422873,935208,67339,355650,170449,233843,931389,935947,678744,678744,NaN

In [70]:
(gram3_predict['song_index'] == gram3_predict[21]).mean()

0.207462005840013

In [71]:
gram3_predict['p3'] = gram3_predict['song_index'].fillna(gram3_predict['p']).astype(int)
(gram3_predict['p3'] == gram3_predict[21]).mean()

0.23559262501769304

In [72]:
gram3_predict

,16,17,18,19,20,21,22,23,24,25,p,p2,song_index,p3
0,962778,913263,910165,194387,722034,624433,901147,810092,74420,250714,722034,722034,NaN,722034
1,659818,415453,307906,523383,672083,52476,249524,514925,495260,130336,672083,364625,NaN,364625
2,332935,133500,606328,578482,261314,203739,402134,129395,230525,946149,261314,261314,NaN,261314
3,503008,824980,267047,238820,709693,453065,709693,453065,709693,453065,709693,709693,NaN,709693
4,7267,589816,482509,77515,246245,186586,338120,186586,338120,130652,365352,365352,NaN,365352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572254,506580,505242,614405,198412,422547,615766,560313,553343,624094,258244,198412,615766,615766.0,615766
572255,604807,758868,918865,967471,970952,784715,745441,716579,732103,732103,745441,967471,NaN,967471
572256,791040,791040,832786,277358,522132,681203,90781,692730,469116,592612,340530,340530,NaN,340530
572257,880639,722323,825005,247342,832762,953126,766052,82260,126631,82260,716463,953126,953126.0,953126
572258,587574,152114,422873,935208,67339,355650,170449,233843,931389,935947,678744,678744,NaN,678744

In [73]:
r = gram3_predict[[21,22,23,24,25]] == gram3_predict[['p3']].values
r[25] = r[25] & ~(r[[21,22,23,24]].any(axis=1))
r[24] = r[24] & ~(r[[21,22,23]].any(axis=1))
r[23] = r[23] & ~(r[[21,22]].any(axis=1))
r[22] = r[22] & ~(r[[21]].any(axis=1))
w = [1., 0.63, 0.5, 0.43, 0.38]
all_songs = meta_song.shape[0]
dcg = r.mean() @ w
predict_songs = gram3_predict['p3'].sample(frac=0.25).nunique()
fill_songs = 4*test_source['session_id'].nunique()
coverage = (predict_songs+fill_songs)/all_songs
rich.print({'dcg':dcg, 'coverage':coverage, 'total':dcg*0.8+coverage*0.2})

{'dcg': 0.25242937201511906, 'coverage': 0.6048042518181607, 'total': 0.3229043479757274}

In [74]:
for k in ['song_index']:
    del gram3_predict[k]
gram3_predict

,16,17,18,19,20,21,22,23,24,25,p,p2,p3
0,962778,913263,910165,194387,722034,624433,901147,810092,74420,250714,722034,722034,722034
1,659818,415453,307906,523383,672083,52476,249524,514925,495260,130336,672083,364625,364625
2,332935,133500,606328,578482,261314,203739,402134,129395,230525,946149,261314,261314,261314
3,503008,824980,267047,238820,709693,453065,709693,453065,709693,453065,709693,709693,709693
4,7267,589816,482509,77515,246245,186586,338120,186586,338120,130652,365352,365352,365352
...,...,...,...,...,...,...,...,...,...,...,...,...,...
572254,506580,505242,614405,198412,422547,615766,560313,553343,624094,258244,198412,615766,615766
572255,604807,758868,918865,967471,970952,784715,745441,716579,732103,732103,745441,967471,967471
572256,791040,791040,832786,277358,522132,681203,90781,692730,469116,592612,340530,340530,340530
572257,880639,722323,825005,247342,832762,953126,766052,82260,126631,82260,716463,953126,953126
572258,587574,152114,422873,935208,67339,355650,170449,233843,931389,935947,678744,678744,678744

In [75]:
gram4_predict = pd.merge(gram3_predict, gram4, left_on=[17,18,19,20], right_on=['previous4_song_index', 'previous3_song_index', 'previous2_song_index', 'previous1_song_index'], how='left')
gram4_predict

,16,17,18,19,20,21,22,23,24,25,p,p2,p3,previous4_song_index,previous3_song_index,previous2_song_index,previous1_song_index,song_index,proportion
0,962778,913263,910165,194387,722034,624433,901147,810092,74420,250714,722034,722034,722034,NaN,NaN,NaN,NaN,NaN,NaN
1,659818,415453,307906,523383,672083,52476,249524,514925,495260,130336,672083,364625,364625,NaN,NaN,NaN,NaN,NaN,NaN
2,332935,133500,606328,578482,261314,203739,402134,129395,230525,946149,261314,261314,261314,NaN,NaN,NaN,NaN,NaN,NaN
3,503008,824980,267047,238820,709693,453065,709693,453065,709693,453065,709693,709693,709693,NaN,NaN,NaN,NaN,NaN,NaN
4,7267,589816,482509,77515,246245,186586,338120,186586,338120,130652,365352,365352,365352,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572254,506580,505242,614405,198412,422547,615766,560313,553343,624094,258244,198412,615766,615766,NaN,NaN,NaN,NaN,NaN,NaN
572255,604807,758868,918865,967471,970952,784715,745441,716579,732103,732103,745441,967471,967471,NaN,NaN,NaN,NaN,NaN,NaN
572256,791040,791040,832786,277358,522132,681203,90781,692730,469116,592612,340530,340530,340530,NaN,NaN,NaN,NaN,NaN,NaN
572257,880639,722323,825005,247342,832762,953126,766052,82260,126631,82260,716463,953126,953126,722323.0,825005.0,247342.0,832762.0,953126.0,1.0
572258,587574,152114,422873,935208,67339,355650,170449,233843,931389,935947,678744,678744,678744,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
for k in ['previous4_song_index', 'previous3_song_index', 'previous2_song_index', 'previous1_song_index', 'proportion']:
    del gram4_predict[k]
gram4_predict

,16,17,18,19,20,21,22,23,24,25,p,p2,p3,song_index
0,962778,913263,910165,194387,722034,624433,901147,810092,74420,250714,722034,722034,722034,NaN
1,659818,415453,307906,523383,672083,52476,249524,514925,495260,130336,672083,364625,364625,NaN
2,332935,133500,606328,578482,261314,203739,402134,129395,230525,946149,261314,261314,261314,NaN
3,503008,824980,267047,238820,709693,453065,709693,453065,709693,453065,709693,709693,709693,NaN
4,7267,589816,482509,77515,246245,186586,338120,186586,338120,130652,365352,365352,365352,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572254,506580,505242,614405,198412,422547,615766,560313,553343,624094,258244,198412,615766,615766,NaN
572255,604807,758868,918865,967471,970952,784715,745441,716579,732103,732103,745441,967471,967471,NaN
572256,791040,791040,832786,277358,522132,681203,90781,692730,469116,592612,340530,340530,340530,NaN
572257,880639,722323,825005,247342,832762,953126,766052,82260,126631,82260,716463,953126,953126,953126.0
572258,587574,152114,422873,935208,67339,355650,170449,233843,931389,935947,678744,678744,678744,NaN

In [82]:
(gram4_predict['song_index'] == gram4_predict[21]).mean()

0.19333728259407018

In [83]:
gram4_predict['p4'] = gram4_predict['song_index'].fillna(gram4_predict['p']).astype(int)
(gram4_predict['p4'] == gram4_predict[21]).mean()

0.21951948331087848

In [84]:
r = gram4_predict[[21,22,23,24,25]] == gram4_predict[['p4']].values
r[25] = r[25] & ~(r[[21,22,23,24]].any(axis=1))
r[24] = r[24] & ~(r[[21,22,23]].any(axis=1))
r[23] = r[23] & ~(r[[21,22]].any(axis=1))
r[22] = r[22] & ~(r[[21]].any(axis=1))
w = [1., 0.63, 0.5, 0.43, 0.38]
all_songs = meta_song.shape[0]
dcg = r.mean() @ w
predict_songs = gram4_predict['p4'].sample(frac=0.25).nunique()
fill_songs = 4*test_source['session_id'].nunique()
coverage = (predict_songs+fill_songs)/all_songs
rich.print({'dcg':dcg, 'coverage':coverage, 'total':dcg*0.8+coverage*0.2})

{'dcg': 0.23705600086674045, 'coverage': 0.6012872655019055, 'total': 0.30990225379377345}

In [85]:
gram4_predict

,16,17,18,19,20,21,22,23,24,25,p,p2,p3,song_index,p4
0,962778,913263,910165,194387,722034,624433,901147,810092,74420,250714,722034,722034,722034,NaN,722034
1,659818,415453,307906,523383,672083,52476,249524,514925,495260,130336,672083,364625,364625,NaN,672083
2,332935,133500,606328,578482,261314,203739,402134,129395,230525,946149,261314,261314,261314,NaN,261314
3,503008,824980,267047,238820,709693,453065,709693,453065,709693,453065,709693,709693,709693,NaN,709693
4,7267,589816,482509,77515,246245,186586,338120,186586,338120,130652,365352,365352,365352,NaN,365352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572254,506580,505242,614405,198412,422547,615766,560313,553343,624094,258244,198412,615766,615766,NaN,198412
572255,604807,758868,918865,967471,970952,784715,745441,716579,732103,732103,745441,967471,967471,NaN,745441
572256,791040,791040,832786,277358,522132,681203,90781,692730,469116,592612,340530,340530,340530,NaN,340530
572257,880639,722323,825005,247342,832762,953126,766052,82260,126631,82260,716463,953126,953126,953126.0,953126
572258,587574,152114,422873,935208,67339,355650,170449,233843,931389,935947,678744,678744,678744,NaN,678744

In [86]:
for k in ['song_index']:
    del gram4_predict[k]
gram4_predict

,16,17,18,19,20,21,22,23,24,25,p,p2,p3,p4
0,962778,913263,910165,194387,722034,624433,901147,810092,74420,250714,722034,722034,722034,722034
1,659818,415453,307906,523383,672083,52476,249524,514925,495260,130336,672083,364625,364625,672083
2,332935,133500,606328,578482,261314,203739,402134,129395,230525,946149,261314,261314,261314,261314
3,503008,824980,267047,238820,709693,453065,709693,453065,709693,453065,709693,709693,709693,709693
4,7267,589816,482509,77515,246245,186586,338120,186586,338120,130652,365352,365352,365352,365352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572254,506580,505242,614405,198412,422547,615766,560313,553343,624094,258244,198412,615766,615766,198412
572255,604807,758868,918865,967471,970952,784715,745441,716579,732103,732103,745441,967471,967471,745441
572256,791040,791040,832786,277358,522132,681203,90781,692730,469116,592612,340530,340530,340530,340530
572257,880639,722323,825005,247342,832762,953126,766052,82260,126631,82260,716463,953126,953126,953126
572258,587574,152114,422873,935208,67339,355650,170449,233843,931389,935947,678744,678744,678744,678744

In [87]:
gram5_predict = pd.merge(gram4_predict, gram5, left_on=[16,17,18,19,20], right_on=['previous5_song_index', 'previous4_song_index', 'previous3_song_index', 'previous2_song_index', 'previous1_song_index'], how='left')
gram5_predict

,16,17,18,19,20,21,22,23,24,25,...,p2,p3,p4,previous5_song_index,previous4_song_index,previous3_song_index,previous2_song_index,previous1_song_index,song_index,proportion
0,962778,913263,910165,194387,722034,624433,901147,810092,74420,250714,...,722034,722034,722034,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,659818,415453,307906,523383,672083,52476,249524,514925,495260,130336,...,364625,364625,672083,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,332935,133500,606328,578482,261314,203739,402134,129395,230525,946149,...,261314,261314,261314,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,503008,824980,267047,238820,709693,453065,709693,453065,709693,453065,...,709693,709693,709693,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7267,589816,482509,77515,246245,186586,338120,186586,338120,130652,...,365352,365352,365352,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572254,506580,505242,614405,198412,422547,615766,560313,553343,624094,258244,...,615766,615766,198412,NaN,NaN,NaN,NaN,NaN,NaN,NaN
572255,604807,758868,918865,967471,970952,784715,745441,716579,732103,732103,...,967471,967471,745441,NaN,NaN,NaN,NaN,NaN,NaN,NaN
572256,791040,791040,832786,277358,522132,681203,90781,692730,469116,592612,...,340530,340530,340530,NaN,NaN,NaN,NaN,NaN,NaN,NaN
572257,880639,722323,825005,247342,832762,953126,766052,82260,126631,82260,...,953126,953126,953126,880639.0,722323.0,825005.0,247342.0,832762.0,953126.0,1.0
572258,587574,152114,422873,935208,67339,355650,170449,233843,931389,935947,...,678744,678744,678744,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
for k in ['previous5_song_index', 'previous4_song_index', 'previous3_song_index', 'previous2_song_index', 'previous1_song_index', 'proportion']:
    del gram5_predict[k]
gram5_predict

,16,17,18,19,20,21,22,23,24,25,p,p2,p3,p4,song_index
0,962778,913263,910165,194387,722034,624433,901147,810092,74420,250714,722034,722034,722034,722034,NaN
1,659818,415453,307906,523383,672083,52476,249524,514925,495260,130336,672083,364625,364625,672083,NaN
2,332935,133500,606328,578482,261314,203739,402134,129395,230525,946149,261314,261314,261314,261314,NaN
3,503008,824980,267047,238820,709693,453065,709693,453065,709693,453065,709693,709693,709693,709693,NaN
4,7267,589816,482509,77515,246245,186586,338120,186586,338120,130652,365352,365352,365352,365352,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572254,506580,505242,614405,198412,422547,615766,560313,553343,624094,258244,198412,615766,615766,198412,NaN
572255,604807,758868,918865,967471,970952,784715,745441,716579,732103,732103,745441,967471,967471,745441,NaN
572256,791040,791040,832786,277358,522132,681203,90781,692730,469116,592612,340530,340530,340530,340530,NaN
572257,880639,722323,825005,247342,832762,953126,766052,82260,126631,82260,716463,953126,953126,953126,953126.0
572258,587574,152114,422873,935208,67339,355650,170449,233843,931389,935947,678744,678744,678744,678744,NaN

In [98]:
(gram5_predict['song_index'] == gram5_predict[21]).mean()

0.1816450243683367

In [100]:
gram5_predict['p5'] = gram5_predict['song_index'].fillna(gram5_predict['p']).astype(int)
(gram5_predict['p5'] == gram5_predict[21]).mean()

0.21216442205365052

In [101]:
r = gram5_predict[[21,22,23,24,25]] == gram5_predict[['p5']].values
r[25] = r[25] & ~(r[[21,22,23,24]].any(axis=1))
r[24] = r[24] & ~(r[[21,22,23]].any(axis=1))
r[23] = r[23] & ~(r[[21,22]].any(axis=1))
r[22] = r[22] & ~(r[[21]].any(axis=1))
w = [1., 0.63, 0.5, 0.43, 0.38]
all_songs = meta_song.shape[0]
dcg = r.mean() @ w
predict_songs = gram5_predict['p5'].sample(frac=0.25).nunique()
fill_songs = 4*test_source['session_id'].nunique()
coverage = (predict_songs+fill_songs)/all_songs
rich.print({'dcg':dcg, 'coverage':coverage, 'total':dcg*0.8+coverage*0.2})

{'dcg': 0.229690280100444, 'coverage': 0.6008370912534248, 'total': 0.3039196423310402}

In [104]:
del gram5_predict['song_index']
gram5_predict

,16,17,18,19,20,21,22,23,24,25,p,p2,p3,p4,p5
0,962778,913263,910165,194387,722034,624433,901147,810092,74420,250714,722034,722034,722034,722034,722034
1,659818,415453,307906,523383,672083,52476,249524,514925,495260,130336,672083,364625,364625,672083,672083
2,332935,133500,606328,578482,261314,203739,402134,129395,230525,946149,261314,261314,261314,261314,261314
3,503008,824980,267047,238820,709693,453065,709693,453065,709693,453065,709693,709693,709693,709693,709693
4,7267,589816,482509,77515,246245,186586,338120,186586,338120,130652,365352,365352,365352,365352,365352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572254,506580,505242,614405,198412,422547,615766,560313,553343,624094,258244,198412,615766,615766,198412,198412
572255,604807,758868,918865,967471,970952,784715,745441,716579,732103,732103,745441,967471,967471,745441,745441
572256,791040,791040,832786,277358,522132,681203,90781,692730,469116,592612,340530,340530,340530,340530,340530
572257,880639,722323,825005,247342,832762,953126,766052,82260,126631,82260,716463,953126,953126,953126,953126
572258,587574,152114,422873,935208,67339,355650,170449,233843,931389,935947,678744,678744,678744,678744,678744

In [111]:
final = gram5_predict.iloc[:,10:]
final

             p      p2      p3      p4      p5
0       722034  722034  722034  722034  722034
1       672083  364625  364625  672083  672083
2       261314  261314  261314  261314  261314
3       709693  709693  709693  709693  709693
4       365352  365352  365352  365352  365352
...        ...     ...     ...     ...     ...
572254  198412  615766  615766  198412  198412
572255  745441  967471  967471  745441  745441
572256  340530  340530  340530  340530  340530
572257  716463  953126  953126  953126  953126
572258  678744  678744  678744  678744  678744

[572259 rows x 5 columns]

In [107]:
# song_id_to_index_dict = dict(zip(meta_song['song_id'], meta_song['song_index']))
# # song_id_to_index_dict
index_to_song_id_dict = dict(zip(meta_song['song_index'], meta_song['song_id']))
index_to_song_id_dict

{0: '10a46165bb84e056438e06c35763ee61',
 1: 'ff025522d0f8e7198a75a4e03edce55c',
 2: '7feec55b825a1c93d55b3ef9af9f9be5',
 3: 'ed8b14c6d0fccd1a95f9140933f809f3',
 4: '2ce5e96e0213a6dac83c54b003418726',
 5: 'bc4c16c9a0e60a8b34212f24a8142677',
 6: 'f83417fa016c2d7fbc90c5ccc9068817',
 7: 'cfe5665103b92f32ab424bd1d83f977f',
 8: '9c36969fae42d113e97a9a0f8f255a87',
 9: '55b5febf1ce54c3e08f5ea693fad242f',
 10: '15c91fb2d95cee04b0eb1122b123d848',
 11: '757f039c778531630e9da487ddd5055d',
 12: 'ad3a8117fdc806b261bd861b112e61ff',
 13: '1c1fc1652065a114a44033c7ecc8e2a7',
 14: '92e36ebd1ac3a766120dfa2561f1766b',
 15: '567195f94a0537800759ab2ec66755d9',
 16: 'd25aefbebcfea19f21fe1ab078a893c1',
 17: 'f2a24cef800d7a4da6d2b85275e0511d',
 18: 'e420a5e72b63511e3ccf0923dd88034e',
 19: '61537f8ba5a11b1f17b2b5c390343611',
 20: '4bf1cdb51348bdc3fe6a63c214fb6f9d',
 21: 'b438345789d3af74d149f278cde2c6c2',
 22: 'e8705dac7a2d1e415593b792ed33eaa8',
 23: 'cfd311c55c7c1aa49613313b2a94277c',
 24: '0c229dfa2c30755efb377c0ce5e64416',
 25: 'dcee6fef66d1f6d3db6b27f47abaf267',
 26: '0fc6de032a6026c7d962b89be695a617',
 27: '789e5b070cbcd2c43758c3fcb329e8b9',
 28: 'f8d8db8c6526325dd83240246f4e4c0b',
 29: '0837b8ca9960bae305960ebae7bb0c95',
 30: 'd35119448f68fb10049b21efd4d85661',
 31: '077637ffa18c115f16460bd1653db8f7',
 32: '29a5d4c85c712d931fd7ebcea1ac581b',
 33: '54264e4d6c545af090c4e560ed044105',
 34: '9584e11c06d9d25ae44f54954ca4b042',
 35: '936792799e40c63af4be5ad60e36b632',
 36: '90d7b56707c386de7fda4db4587c54dc',
 37: 'ebb8e8b954b3bb26f9f16d17ef5bc601',
 38: '0f301c03a23868db9268c71603b2f2da',
 39: '186c32d3dbd101d193a7ebb5540ae8cb',
 40: '957a7c7674fdad963ebfabf19442124b',
 41: '727973ab2d206fe01fce8fbc8a143d53',
 42: 'aa7cfc79ab996e87f1fd6ec31255c21e',
 43: 'e7c9425f2720a6d5869590b8fee1f0cc',
 44: 'f936d54e0f99a3aea6a5e2bc33a52dad',
 45: '51bb77b1b9968051aacc25effbeb5819',
 46: '821905e0e67c013f2408d216b914d005',
 47: '156007d2576df278532b166bf43b73e5',
 48: 'b9dcf3745bdd68f7fa447ee00fc25168',
 49: '3dcc517e13fff98b95bc3c66ec85e1d5',
 50: 'a0228aa5db674c1c3bace262df76c720',
 51: 'cceaf09fe6eb3ce1d57f95d051505c2a',
 52: '8906ca9eb72954b229974d2d7e93b294',
 53: '78dbfeca1ad6b060710a8e1d85cb2075',
 54: '47d189e1b2819bec2a571b336f90b98a',
 55: '4515c846bc8b4c93b0d174358854041e',
 56: '59a1b2c383dcb2b0180449877513573c',
 57: 'ee107fa016b4e56d9a39fee0a2c9a617',
 58: 'a5961977af13e08aec8580352d76cb11',
 59: '0a6613c7056c05034868c8de97bf88c1',
 60: '3f39e3644740ccf39ac3c69c4faeadda',
 61: 'cac1382a160c618310ef51acd0cb2ae0',
 62: '1809057a8ea1200e3948d8e10c5b43ab',
 63: '450977c7e5941847463f02cfe7a0e8e8',
 64: '3e215306d97bb62c4a07514bbbc01489',
 65: '78e8c9beb73a41d0cd424499f0d1083f',
 66: '5ae09aa60f72f2b1e599d94d71b57e11',
 67: '03e88da95f6ee7ac42aca2eebc6e97e4',
 68: '00bcfe9914f5b3f3cb833b1e8bf36026',
 69: '582656e186595fd2e8c34e46cbb62f15',
 70: '94614ae9aceb9bfd1e9706243bd92a9e',
 71: 'c3814c2296bcf67ddaa8208e760b085a',
 72: '51ea2cf31f778bae89ab5bb647ce6fa7',
 73: '55fcd25f75c36d6584b3aa72b1f3402a',
 74: '56183476980c2481e890cb8fc2c76494',
 75: 'b8986b72cd1592b1df93f88db2bf04fa',
 76: '33e61ba38e6a5062cacdae3fc7b659d1',
 77: '92a704a890a65b8f7fb3f2033a918c1d',
 78: '487e5fb5fcca9ab62dff6fe623b12a92',
 79: 'e96389356a41e118feb7176021284ffe',
 80: '4de82e6ba968862607248598b45df59f',
 81: 'd64372d555ef06e0497e8b915a9e4d38',
 82: '8c88992bed1c119c80e6a784dfa22695',
 83: '32545e42032cd07e9e849f7677453b85',
 84: '2ee60e31b4293ce48348f656e5cbe953',
 85: '95a167616321d0cd170d8ae3cbbd1087',
 86: '95c865d476032585cb006c0535ca41fb',
 87: '4a78bdbfaeaec5dafb2264e53e8d069e',
 88: '3ca8da3eb577d96f86b9e59130e97614',
 89: '9540baddfaa5d745b0b9f52ea0036882',
 90: '4b12cbad8af35faae3f6c52121521fe8',
 91: 'ea207b28b62a9a11573a644a39ca8b4b',
 92: '170b26eeb108fd2f013dc978ec10f5c4',
 93: '5d5d13c161d26d5f99aba3aa62bdf3ba',
 94: '1fc17b463d055b2b303b6d7c2b8fc635',
 95: 'ceb05cf9a50dd2fbe6055a56b45b5028',
 96: '503e0cbb1ddb32673da3c1c674f6d7f9',
 97: '279c377d10d89e027f724d2e367d53ab',
 98: '0245b71f41843f80a914cc62adb1f377',
 99: 'df1435c2c93dd47c808bb8e677e11cb0',
 100: '3104f92a040b6d1653357b662bd0ae31',
 101: '7e92bf72ba57c71c04f68d8a3c2544df',
 102: 'cbb4d43926622af41fa3c7bd75ca3acd',
 103: 'f00afdd79654097341326a3d1ab0624c',
 104: 'beece1c885f66efae4253a4192012e9d',
 105: '5b0061fea8c09705368520525465908e',
 106: 'a53d0adeb89d5a9a96bcaf51119994b6',
 107: '2eb7952bde15cc1e55c7858337c92211',
 108: 'dd6b7d39316d73ac07bcba5288568d87',
 109: 'cf1a92d76114c691e854f64972d4dd0e',
 110: '512533e41079ad1a5fec088f989e17ad',
 111: 'd22e0da6f5929a61180f6107e1646504',
 112: 'c47ffcbed875382a3dd4896e55e7af37',
 113: '36c7ec4d3916fb9a8abb0c024e206d28',
 114: '779268bba75b0691bbdbdfc09830a4d7',
 115: 'd1259291489db5dccb7f60f5685d6c91',
 116: '054a445ea920a94942455b31fbf5b6af',
 117: '6e53c8730261c96ed431abad01beae97',
 118: '6f405255266f03eb7f6601fc6f5348c6',
 119: 'c1b14534788dd8cd11522bdc059b7286',
 120: '3d5335a32778b97b7291a873e74e4834',
 121: 'c1ea1f29a95355340973f59c1cb60519',
 122: 'a45a602f762c3b48545ff4d10bc1f592',
 123: '6607312825f544bd672d4bd8863f202e',
 124: '0b6e8df3c45339bb4fb4750f8623cdcd',
 125: 'f9af6498e1fd4681e170e63a1efd5cc3',
 126: 'ad8c1462678a6b97c8cd4c0854e7e0f0',
 127: '45266c0db58a496f6bff4e71bd1fd17c',
 128: '715dd1901f9cd271041ab338304b0275',
 129: '45f6d06eefa79f62e17a1da774b2e713',
 130: '24a8f51b4e8bf02567cfdeebb542bde4',
 131: 'ed914e93088ac97ea11d725c74a8b9ee',
 132: 'cb73a0fa1788ec6530b19ced69b7e33b',
 133: 'e6b7ce21b7816be11325775d061ff743',
 134: '7434e1a5412af156c24000fd29eb4573',
 135: 'dd6f48e139fdd6796bf45ea022dc05dc',
 136: 'f6fa3ef560d24a111cc5b41c10943a2b',
 137: 'e5e0870b787a1c7c2c0a52c1717388bb',
 138: '91927dc7277465680c3c2f262d66f9e1',
 139: 'ed03ee2c264decdd068fd89e968176bc',
 140: 'cf66e7ba56fb98cd8e24ba16c5250627',
 141: 'df132832d8c620b7a060d7ea0cb5fd26',
 142: 'ade65da6296d0880c8381caa71b69b8b',
 143: 'e7ac45f6ee5780729f7cf520e02085a3',
 144: 'bbcc31850fabb4aa685fe76c3b78b726',
 145: '27e0e0a6246cba3781002f8c5c1b522a',
 146: '8cece3b34aa4b9974c669f1848df0f8b',
 147: '560e2a2011854c58190f160f52d4b4a2',
 148: '66282ac72d6925e2ddfec3b22bbc3476',
 149: '133f0fefa09d89935c8f30974f99b70b',
 150: 'a6b7549a5bd1d01e9cb373e097dd1060',
 151: 'cb6fc82ad102869c56d6c98f306cc606',
 152: 'b90831a15adfaa6cf20268358491db1c',
 153: '02a85510581aa8167c5df11c1e015ea6',
 154: '6d96702dbc716661f218c6cad84a7f21',
 155: 'f884e2720adae7c07b290909736a966e',
 156: '8565d40ff9eafb1a3eb41694a7f2ef69',
 157: '974d49e24f78dc71f7fd1167c1266512',
 158: '4da7df9f66512899a93091c2f090bde9',
 159: 'db5deba10b3073a09e1273e51b090414',
 160: 'b7bda75f049481b3a5ce5e4e40e2d750',
 161: 'efd96c614380d5a2f6d36a60041228e4',
 162: '52da13de1b4083c212ba947b838c53da',
 163: '494884f43c7bd69be285a6769701f7fe',
 164: 'd7b6876abeab4d3bbd5af55cb4a0fbef',
 165: 'ff87201af17e53d027d6cc9757cd777f',
 166: 'e45b5477dadca6c2607db329ae043ebc',
 167: 'd8239eb2d966017ee556739b60ad2808',
 168: 'e14e4bc61423ae747686782c6e83adb7',
 169: '5039421d02e086944af790a974ddf1ba',
 170: '204fd0190f607150db3dd2aaaf38e44f',
 171: '13281981587eec52a19da8c11542378b',
 172: '6e89d9e9796255b02b05088cff7adc4b',
 173: '1e0afbb841464f6fa869800a202d60cb',
 174: '2b35c86ce86becd3f919a3d31fa6875e',
 175: '7dec6b820b095224a64759d5c41859a8',
 176: '9cb8b5dc9dde23be813cdff7dc1e240d',
 177: '509b158c8362395b3db93962396015cf',
 178: '45f34791775010d0dea87fa6b99f3d14',
 179: '2c887a4a3cc9a9d78156c9549df7b18a',
 180: 'd8a29934b1395cfa8af725ae2e7e9583',
 181: 'd99e6440f153cabfc1b4fa0f0e233c11',
 182: '76a16cfc6e7687021f7e243b548083e0',
 183: '2d4b41e3e5c17d35e17707428b1fffcb',
 184: '76080cbd2b04a09321a186ece55fa4c1',
 185: 'c052ce9be1932caa640cb4a16da1f8d1',
 186: 'e80f835bfded34cb751c8ecb74063eef',
 187: 'e722f37dc2c29a110ed999ec6c5b9fa4',
 188: 'f12af6e488c305a15be3da9231643c43',
 189: '8e6cf36bd557048a1ac79744d5918ed4',
 190: 'a8f64bdfb7030284d2ee39c48a1ee49a',
 191: '87f6e1bf21e3a424985307693d54ef51',
 192: 'c6c4f7e9d3985ebfdacf8900eb103403',
 193: 'a0cd3a58757c6b02ade2482af05e8912',
 194: '86010e08248f685af2ad589a36632ea1',
 195: '115e7e3392bd2e917254ef687681d39a',
 196: '131e1997af11671d033916a56b2dad0a',
 197: '12833fa49acbedfa2e96ac606ec35ba7',
 198: '3329f149889edd064470ef357cd734ab',
 199: 'd641cf4dc1b126c1eebd7dc30a308d93',
 200: 'c95d9ef215ca821c3cd4b26e51f685da',
 201: '2721e96aab2baaeeb40966cec4906024',
 202: 'f2cd63cfe7ba687aaa22f73e00ff0964',
 203: '1b413bba0076c80940a704cc59922e90',
 204: '151462b75340f82d958cc9f4e17e4f54',
 205: 'df651ce387b85b7ecec3676306372b7c',
 206: '4f68cf829675b26cad7bdebb97ae5c5e',
 207: '095106e2cfc2c21cc0f2a311a442347b',
 208: '5975894f4bee7f8108d154a60144015d',
 209: '838edf6a4cef8eb84161a905a448b74d',
 210: '5446d41e605e6a49f25743ab03bdac3e',
 211: 'cf3fd7e10b5579a30bab64fc1aaad40a',
 212: 'd33a77841d931d3d2803f1d2700a351b',
 213: 'fc32ab442346450c73051ab11c5f9f6a',
 214: '7be000019bdffa3970d77b3a204143e4',
 215: '878f378c1095e0f14636336fbe865093',
 216: 'bd34967188512a5d4828ae22b32c53b1',
 217: 'a0b64f8cf7a266b994d2b6f62d1a1201',
 218: '45d072a37728a7ffcb1004fd1b8fa9b5',
 219: '691379a19347e2ca0d9ec0f89f65d2cf',
 220: 'a048f153f59df429641806050734cf61',
 221: '88100935589d335b649308881607ca40',
 222: 'a331ee169f7ff3ccde88b36b9cbaa197',
 223: '3451ccb613f60c7c4647aefb7c2faa1e',
 224: 'ad8ae1bd1f4846ce551a536f0a6b7976',
 225: '8532e9bb8d8366a1a7cc820123c4149d',
 226: '3ce59f87cca6f9bf63dbb90951594974',
 227: '2fa2cf8c7834fa0b021fdee8256ea64e',
 228: 'dc33066875689c57b4b8ab237de3a40b',
 229: '78f910e040763f464d89a206110627f6',
 230: '316338db4ee0fa594754391b40107ed7',
 231: '99c1bc4070bb07fff3327e0b95073070',
 232: '1cff97962de472fc46d8a98f711dabd8',
 233: '0ab2fe199bc68b706b4b250d977dfb10',
 234: '3098499a53ae1362263b3882dc98cbd7',
 235: '10d5a094ada843cb4e0e4052ed6f6041',
 236: 'dd101e2be4ade6c44343e5ffb1e47db8',
 237: '413b24c11cec81963137cb5d1e6f4984',
 238: 'e13cad6781e85cb1ac399e031b766d9c',
 239: '358f1e4243962eec23bf1b02594a4723',
 240: 'ca9f3515d639acf3802f122e87a32a1b',
 241: 'b2b782f9d5ea413c941d5bc1384fd44e',
 242: 'a20978ed3f34a5d7f3213f9f912d77d0',
 243: 'a1c2c0389f8d976f4eeb5e86610d1775',
 244: '1c659c21b5deaa3687318d461ea8e1e8',
 245: 'a540987440e740824188ea9941fa69ca',
 246: '845354df56db3cb07286463ee056f102',
 247: '86362172c1c77dd9344f5236fe000cb2',
 248: 'cb938081a54bdcad7d8206e5f3eb1262',
 249: 'e1c6945eb82749b40ea11bfdc53c4d55',
 250: '6e39d935c922898cb4bf950adef4f284',
 251: '5e12dc8e5c937c58cd46c01ba3f0ee44',
 252: '745f4bc5114a49bd4744b193860a9e08',
 253: '11bd8fe494eacdd80f03b08e90256aa5',
 254: 'c137e12645fe6b07c120f45e52189135',
 255: '4e86daa12dd5bc1e8c7ca8e7b3285eb3',
 256: 'f84c54756bc709e9457e5102ea8c31eb',
 257: '76d73053b990503d3bcebaf5154c27e9',
 258: '1ed10681e31a9cc070b4455abd5fb1be',
 259: '3ef0dfe96d199812faea7bab0f69964d',
 260: '2e64b75b5414476b8e041661f3f90dda',
 261: '684063b46e70f8424ab4908f4ab87817',
 262: '05e386d7163037354d518da808ca18fc',
 263: '0cab43672fd15261152c717cf7f20dfe',
 264: 'da4b6b6f1051600ac27fcb0f988ffabf',
 265: 'c4ab45b22aabd9dcdf52e3c385f6edcf',
 266: 'dd0b636e2042b859563dda061c88027b',
 267: 'ec3fa4849d04f610c6e2f593e07ec8f5',
 268: '430158dfa1229ee5e4a24dabe5220dec',
 269: '9178d6ae2776aaf1a98cd3beb43cc46c',
 270: '555b179d69de8bcc3b50df6e1ade5d75',
 271: '0c414920922245cd186bbfdfff21db48',
 272: 'b8cb671d367566042831a400027f0e0a',
 273: '997954e3d9fcd9bac47f80bbb39c2bf5',
 274: 'd5b9da25c29c6b2cd97bc44dc4cb88cc',
 275: 'bb9542527b1c01a282488dc7da39d5a7',
 276: '7bb136464e49158d1f28a8d81d10073e',
 277: '08322a004cbcff0289c8ee0da71f71d7',
 278: '8ba5f03a8007af3339503b61b2a717c6',
 279: 'fd6ca9148545d7b35debe3ec291cd01a',
 280: '3de03740ca31fd21cfd8fde6b962033d',
 281: '7e48e85dbf284037bae22ff98219f2f5',
 282: 'aaab30d9b38c38837e36d05df35c4651',
 283: '69edf30f24986dc0abb61cdae1eeb4cf',
 284: 'f03b122ff9ead3a328c96e0cb0541905',
 285: 'e827eaf9b11fb44d19747bd324513d8a',
 286: 'edee85c40d22ba082ca7b35cdf04be28',
 287: '65d0f40c7a62344e9c6e4b74621655c8',
 288: '9bdeb611b4af8ad507b5933b10c0ecfa',
 289: '81b9e22fc275770743f604325e4c20fd',
 290: '00ec473a4426b6d45f3b9f799ad2ddb4',
 291: 'f0ab259fada3c4d6c2977fa824b5976c',
 292: '860d16abf6b7624cee91c0b2dcf45e96',
 293: 'c24905a1ba6c4850bc37bb405cb0cba4',
 294: 'ad23508e1c17e40316033c3669861949',
 295: 'cde547975cc20a9df728f95a65ccd4dc',
 296: '6576548abf5c939b19b7ea2ca631e889',
 297: '5717d5ce506d9da9e4a310f3bbc06cf0',
 298: '19d531f78e0bd070bfb1cc2f9568d82b',
 299: 'f4f9389b82e47155bfd403f53fa03d8f',
 300: 'e365485211f62e5523b88d19431602fb',
 301: 'e5404ea4a6a436c66da4cb82416feb4a',
 302: '4fae5639896650f68b61c9da34b9002e',
 303: 'ade911766220bf4e7d5f855298cf5b5f',
 304: 'a84978c217bae647e17157f942883b0b',
 305: '0dca4bada36a7d837b4c85fd4c7ae4c5',
 306: '507fa163f28ac75f57ecb07864d04ba2',
 307: '39da49a66d5fe625ff7dbd41bff0a798',
 308: 'b792046428f3024ec35a73c85b10ddfc',
 309: '9db0afd64d0d847c0baaa48cf687f38d',
 310: '6739b3d0f8bdcd6ff0fa90a903981f61',
 311: '7b7701eac291b3eba824131453ac28ae',
 312: 'c29b801aa0341ea849176819b309ee70',
 313: '7b7dbe7cc9a3bdcabec098826ae88c06',
 314: '4c3b5e105062316a199b84c5a391102d',
 315: '273e55f4063a0cc0073bdfe568ad2d21',
 316: 'b7ca8c028260ed399d149f5f0f72bf36',
 317: '276e97993879397ef96112105a8627b6',
 318: 'cc9b8df3a64f8fa30bd2631b883f573e',
 319: '2bb69d33d19ffa9f85a51a0967bd0bd1',
 320: '900f69bda8f6fbd1f1d39e03f281a150',
 321: '774e5e1d5fcc7d68eeaddaceec7d02bc',
 322: '7de5a63dd479df4c21c686fc691180f7',
 323: '91a37dc4145c8db13bc0ba78aa888817',
 324: 'dce7422f2a2c06a61baf027e11f1133f',
 325: '09458acb6ba501210b237b89dcb136a5',
 326: '73acdf19fab8d492d5cc1c7dfe48bc76',
 327: '2c6c837408d98d07a30c9f2eafd3cab4',
 328: 'ff154efb85c046749d800ee2e8dfc8af',
 329: '7fabe3418960bdbb43437635c79b8e5d',
 330: '47a7583e7af9fa467c0e2f7339713fac',
 331: '780b6fa886a2d7d11face4eecb1f7858',
 332: '45d1356aaa9e335cab04828bb40fcc73',
 333: 'e9efd42b1324dd917253afc1661b463a',
 334: '51d0921d6de5d039eca4f64f02f11e22',
 335: 'bd61681a8e29744b8e0162f2a4d530ab',
 336: 'a121d04366f239a12c3a0bcaac0d7efc',
 337: 'aa7f344e7ebfd7987d59960bebc41992',
 338: '1415584a3cc1dff1e5d89f8782a5f46a',
 339: 'd6d0582ed4bc2df1f1567ebf1afc859b',
 340: '99d062de9407a3c2c130b1b44650766c',
 341: 'e1b5163a14cbb45aa2221973d82108c5',
 342: 'a0e86c7ec0e1aa1e8c6d28bc0071ef58',
 343: '69faea1090a30195444ea969260957af',
 344: '91b4d19973ffa16474a1108777275cee',
 345: '4dd11004988727dc279e191d372e5814',
 346: '733098336234541a0a6dc13d21a34ed7',
 347: 'b8a8877c1d67fc0805641396d2dbcb65',
 348: '7e4788e0d537023cdc50c852d75602c9',
 349: 'b9dcf81c0afbdbec8dd01219e1aa6720',
 350: '7acf32aa20241134d0750b01c90c5856',
 351: 'ccc5b7c64ef15dbcf3000e3356346e61',
 352: '22c69489f099e39d7405f8195a2cdc41',
 353: '96779493e9611a1646be0486322b7b3d',
 354: 'aacbbf842ca36da14ac7ceefd0f58871',
 355: '651deb9ec289134f7fe6cc062bb87563',
 356: '883684bfb3000af6aea49efd57c0d4a7',
 357: '3949347aec85589990c5e81c731fdaf7',
 358: '00bd1f3258d47b8a9ad1d8b089573c37',
 359: '4a44cd1486bafe5932472fd46cdc3858',
 360: '1e35a80260ae657aac14d0e742988e6c',
 361: '0f4fef5ef5c9aaf5f02b0452492ad135',
 362: 'cdbe13a41271252d29ec0fab065471ce',
 363: 'd70e396b5582c9fac1e03a1bb8625753',
 364: '96a467cd9400478513f98e453f8d84ee',
 365: '60856b55e20b59697940ebb33a99e6e0',
 366: 'd497a5abe55ceabb5518b4e4bc7cb91c',
 367: '4997fd5d45f4ec064309ecb90eabaad4',
 368: '864d4e61a817007b21753651a1053661',
 369: 'b0b3bf20e8513bd06b41e88f56d2d3e6',
 370: '0350f142c6b0ceb8f0dbaa93e16054b7',
 371: '7011e9ea804f36c0769d76a7958927a7',
 372: '58ce841e2a5d7ac0c40868fa6c30be8d',
 373: '870234ce8ad737ebcc397731ab1d07ef',
 374: '7b59e24073d7bcb12c1db2030b38e7ea',
 375: '19ccccdf2445073e508ab5ea852559d3',
 376: '97a40ecf794e86a997f39f6ad0ebacfd',
 377: 'be79414acf25e9ebec015c6b1d881cf2',
 378: 'bf7748ca0c86cf157edac863a6264301',
 379: 'b018673a452c773c1eb5019eddace63b',
 380: 'b00a1229a3853010cf28a4d85882e19d',
 381: '0478d8778abe0204d28897ab7479f554',
 382: '3d1a2c0aa8c4a84b5eebff48ba024bf7',
 383: '3d398ed9d09479a61296e266348ae6a1',
 384: '1a1b5ed57d8db2e3e610cc65f557392b',
 385: 'b1088aec3e760d133442eebaf307b0bb',
 386: 'fdb341b91eb4d8237a914fd9b6f1d8d4',
 387: 'd34349b27fc5c86ce43079bd4ef663f6',
 388: '1f4977609c1eb9171d649400cf80714c',
 389: '64d6f147d0b7973edc616651bbea1c51',
 390: '15d88547011dc1a78e736c03e1a01310',
 391: 'fd5d6e61b88e1393cfe3fd30111f17e5',
 392: '074576299ad012e8a28dd279e5283bbe',
 393: '4908bf658213ec173995a2cce76a6e8c',
 394: '84eebded79884136a1e44ef6a247c484',
 395: '5b8310cfdf93b9649197065e0584b101',
 396: '9125718cc7f15b06a402d8d19a577239',
 397: '34a224c41404e24b5b05537848a4a202',
 398: '010b58a5135b8558f2538cb720f6e2e0',
 399: 'c4111263237191d7a8f901c5be624f0f',
 400: 'd16058cca47da34d07fcc06d82bf3fb6',
 401: '5522ef0ae56b49775fe15c6adf1c4162',
 402: 'bbf38fb5581bb023814c970b923907d6',
 403: '9555bfe0a3e0035ead742011f58a0990',
 404: '2f15101e163515c8cd64803606e45aa1',
 405: '4f199d855f3dd3436dfe6dd8c83c7f2b',
 406: '1effd8de397ae875cd97e2312798f1d3',
 407: '1f8aa2e9479bcf1b9119013997a0d651',
 408: '970a0934ff3a7c49bc1a108d33e2ab70',
 409: 'd92cea1916d9292b1464b6362764927e',
 410: '3140e26cfadea764b5e3a7efc7e28d61',
 411: '324f39f6db6a06fd7c7266f622a2817f',
 412: '2b3e7027cb5b1b4acb2ecde282576dc3',
 413: 'c049ab23ff2ff59eb178ba3c3fe8ba56',
 414: '00becca90842ea78a43f6c79fa1e5e51',
 415: '0b6edd7dc7ba015f5f6b0cc78dc396b4',
 416: '4afff773613737eb7ae8a5a7fd955a2a',
 417: 'dd3b50a74580868c2a440e488e1765dc',
 418: '57b68a0543cdae2ba870c5601688c160',
 419: '15491eacea5812289b87614fef2d8b2a',
 420: '2accb4f179d6cf694bd8f488344bc799',
 421: '4a2578acca6c1d0eea75b450ea01c760',
 422: 'e41e6d9fc12ce4567347d541b7505509',
 423: 'b27761a6448c4933d3aa973b7a2b4ebc',
 424: '2d0344bb6880164f570603887819fed9',
 425: 'b6dc619647e9db2e15c18e018d9b4e72',
 426: '4670feca70ee49e57cd52d888725ec18',
 427: '9de985cbc37609ae4ed1e3785edb1059',
 428: '85a2cc030210c5729f74de59aa18a6cc',
 429: '6d488a82c3b17f1a0d4635fedadcd10c',
 430: 'd80ce912e7981fb5930016be32cbdfc3',
 431: '89a5b778091a9ef5cf0671759ad0309f',
 432: '2387cdcc0c4e239b4b7416fab161c095',
 433: 'f1c4c4c73c58b2ec225c4c7a983c1eb1',
 434: '8601c0d7e98e2e859a7935ffb5623b96',
 435: '6a0336832e335364cb999e12fcd322c9',
 436: '10269376af1cc9cbd0b01401e4e892ef',
 437: '84b7379cce999f94dd31c9d6670a3218',
 438: '0ca805c4d8863a80e2e1fabb441d8fa3',
 439: '0906795687608f0a8a8111adabbbee90',
 440: 'bda3cc3ca342e1faef8be1da523fd918',
 441: '92e58f52c071e96d8b907fd3bc00c153',
 442: '775eefb73b7aba51567ebcd9dd8b21f1',
 443: '38b4acb0256b76240aa6e07bf16a445f',
 444: 'a62d8643e76cb9ee92dd840b37c89142',
 445: '0b7d5de019fc6f9bf7176c984c71e3c4',
 446: 'd3f8e17d568a9da743a18f64fbc9483b',
 447: 'd60318ea45d8fc830472d80c76aa62e9',
 448: '8b120f0d2fcf4c918a0a7cf1105f3e3e',
 449: '93c744e1ab24726c735c9606411da3f4',
 450: '5a35da70b574d46f6325ead530124113',
 451: '8f67f160418f5b51e1bd0125e0d94306',
 452: '056e1dc009991ba6b6e4507290dbdef6',
 453: '9681ed0fa4eacc1a6b1a8c95a4e306b7',
 454: '7e18e39c6f0ff92b3c45f89547d473a3',
 455: '7c7f03501d59724a358e48b6a0ed1d12',
 456: '2bd06ffb2efaf63ad2ea94de61107e38',
 457: '403a99237b0cc5676b7295f55b24d65e',
 458: 'ad1a33e8a87d2d06250d8fe398e50bc6',
 459: '03bb1fa11c935a40cd560e62bbaad1ca',
 460: 'f6e84122f26dc43f6a7c262a64661e1a',
 461: '8644856096bcb4b4fa218d38ed11a7d8',
 462: '4a42a6d1dd0f7820fc2d69eb0e38cd5e',
 463: '53aa8ed6ce48e703fa134d03fb7e3d02',
 464: '8146c60015faefcc0dd61ef0460cd7eb',
 465: '9e2b8a164d5061897222fbf6f1fbc8e8',
 466: '6ae4c7701cf95e6a53902bebf3fea7c9',
 467: '89d2eb0125fdc9cbe3ce0d7488245b8b',
 468: 'a1a08fbdc029f4d9c14a3ac0d5d8b8b7',
 469: '1313eb7931bdd72f8e352f01176a8c43',
 470: '28817b37ec734db02caab1572002d592',
 471: '1660a1eb2a369338d8ff0e74c7399928',
 472: 'dfc4d823f21c769d064f457897b08d9e',
 473: '43daf5f0f77dbd0c5d6de03b34ce7723',
 474: 'c4b3e34769ee3d98ac2a1c382e0560d1',
 475: 'abf0ff8ce3113957dc2ee5bf828058c9',
 476: '33b12b1bd0a03f4b9ba73cd65ee9e758',
 477: '040cb20bdb0fd885f0f693d8946a354b',

In [118]:
final['top1'] = final['p'].map(index_to_song_id_dict)
final['top2'] = final['p2'].map(index_to_song_id_dict)
final['top3'] = final['p3'].map(index_to_song_id_dict)
final['top4'] = final['p4'].map(index_to_song_id_dict)
final['top5'] = final['p5'].map(index_to_song_id_dict)
final

,p,p2,p3,p4,p5,top1,top2,top3,top4,top5
0,722034,722034,722034,722034,722034,824c159701c8553b0e38f0d36ddd6197,824c159701c8553b0e38f0d36ddd6197,824c159701c8553b0e38f0d36ddd6197,824c159701c8553b0e38f0d36ddd6197,824c159701c8553b0e38f0d36ddd6197
1,672083,364625,364625,672083,672083,6309716e08a58c64871c823f44749686,5befdbffa0268f49987f263afd421a6e,5befdbffa0268f49987f263afd421a6e,6309716e08a58c64871c823f44749686,6309716e08a58c64871c823f44749686
2,261314,261314,261314,261314,261314,3b050c1502af19554bb9ef8efc67c00d,3b050c1502af19554bb9ef8efc67c00d,3b050c1502af19554bb9ef8efc67c00d,3b050c1502af19554bb9ef8efc67c00d,3b050c1502af19554bb9ef8efc67c00d
3,709693,709693,709693,709693,709693,e29a8f57507d7e4a926a6bd3d51841d3,e29a8f57507d7e4a926a6bd3d51841d3,e29a8f57507d7e4a926a6bd3d51841d3,e29a8f57507d7e4a926a6bd3d51841d3,e29a8f57507d7e4a926a6bd3d51841d3
4,365352,365352,365352,365352,365352,e8ff873135b65c7ddce395488597f694,e8ff873135b65c7ddce395488597f694,e8ff873135b65c7ddce395488597f694,e8ff873135b65c7ddce395488597f694,e8ff873135b65c7ddce395488597f694
...,...,...,...,...,...,...,...,...,...,...
572254,198412,615766,615766,198412,198412,0f59db4259ec62fcf00399b69786a3c0,3c66c29e5c26efc705c261732b977950,3c66c29e5c26efc705c261732b977950,0f59db4259ec62fcf00399b69786a3c0,0f59db4259ec62fcf00399b69786a3c0
572255,745441,967471,967471,745441,745441,dd45bfa90e9186681877c15eb0166a35,477ecc7fb10644c0d31408030cd464c6,477ecc7fb10644c0d31408030cd464c6,dd45bfa90e9186681877c15eb0166a35,dd45bfa90e9186681877c15eb0166a35
572256,340530,340530,340530,340530,340530,d954ae7d5ccb38784815b6dc3c9904f2,d954ae7d5ccb38784815b6dc3c9904f2,d954ae7d5ccb38784815b6dc3c9904f2,d954ae7d5ccb38784815b6dc3c9904f2,d954ae7d5ccb38784815b6dc3c9904f2
572257,716463,953126,953126,953126,953126,8377a80da218bf35ed0729be7c6efc7a,c31a95cdd5635c6edfbde9143286b9b7,c31a95cdd5635c6edfbde9143286b9b7,c31a95cdd5635c6edfbde9143286b9b7,c31a95cdd5635c6edfbde9143286b9b7
572258,678744,678744,678744,678744,678744,315f4c9e56ef6912a52cc8a5e737cb29,315f4c9e56ef6912a52cc8a5e737cb29,315f4c9e56ef6912a52cc8a5e737cb29,315f4c9e56ef6912a52cc8a5e737cb29,315f4c9e56ef6912a52cc8a5e737cb29

In [119]:
final = final.iloc[:, 5:]

In [120]:
final

,top1,top2,top3,top4,top5
0,824c159701c8553b0e38f0d36ddd6197,824c159701c8553b0e38f0d36ddd6197,824c159701c8553b0e38f0d36ddd6197,824c159701c8553b0e38f0d36ddd6197,824c159701c8553b0e38f0d36ddd6197
1,6309716e08a58c64871c823f44749686,5befdbffa0268f49987f263afd421a6e,5befdbffa0268f49987f263afd421a6e,6309716e08a58c64871c823f44749686,6309716e08a58c64871c823f44749686
2,3b050c1502af19554bb9ef8efc67c00d,3b050c1502af19554bb9ef8efc67c00d,3b050c1502af19554bb9ef8efc67c00d,3b050c1502af19554bb9ef8efc67c00d,3b050c1502af19554bb9ef8efc67c00d
3,e29a8f57507d7e4a926a6bd3d51841d3,e29a8f57507d7e4a926a6bd3d51841d3,e29a8f57507d7e4a926a6bd3d51841d3,e29a8f57507d7e4a926a6bd3d51841d3,e29a8f57507d7e4a926a6bd3d51841d3
4,e8ff873135b65c7ddce395488597f694,e8ff873135b65c7ddce395488597f694,e8ff873135b65c7ddce395488597f694,e8ff873135b65c7ddce395488597f694,e8ff873135b65c7ddce395488597f694
...,...,...,...,...,...
572254,0f59db4259ec62fcf00399b69786a3c0,3c66c29e5c26efc705c261732b977950,3c66c29e5c26efc705c261732b977950,0f59db4259ec62fcf00399b69786a3c0,0f59db4259ec62fcf00399b69786a3c0
572255,dd45bfa90e9186681877c15eb0166a35,477ecc7fb10644c0d31408030cd464c6,477ecc7fb10644c0d31408030cd464c6,dd45bfa90e9186681877c15eb0166a35,dd45bfa90e9186681877c15eb0166a35
572256,d954ae7d5ccb38784815b6dc3c9904f2,d954ae7d5ccb38784815b6dc3c9904f2,d954ae7d5ccb38784815b6dc3c9904f2,d954ae7d5ccb38784815b6dc3c9904f2,d954ae7d5ccb38784815b6dc3c9904f2
572257,8377a80da218bf35ed0729be7c6efc7a,c31a95cdd5635c6edfbde9143286b9b7,c31a95cdd5635c6edfbde9143286b9b7,c31a95cdd5635c6edfbde9143286b9b7,c31a95cdd5635c6edfbde9143286b9b7
572258,315f4c9e56ef6912a52cc8a5e737cb29,315f4c9e56ef6912a52cc8a5e737cb29,315f4c9e56ef6912a52cc8a5e737cb29,315f4c9e56ef6912a52cc8a5e737cb29,315f4c9e56ef6912a52cc8a5e737cb29

In [125]:
final_data=pd.concat([pd.DataFrame(final.index), final], ignore_index=True, axis=1)
final_data.columns = ['session_id', 'top1', 'top2', 'top3', 'top4', 'top5']
final_data

,session_id,top1,top2,top3,top4,top5
0,0,824c159701c8553b0e38f0d36ddd6197,824c159701c8553b0e38f0d36ddd6197,824c159701c8553b0e38f0d36ddd6197,824c159701c8553b0e38f0d36ddd6197,824c159701c8553b0e38f0d36ddd6197
1,1,6309716e08a58c64871c823f44749686,5befdbffa0268f49987f263afd421a6e,5befdbffa0268f49987f263afd421a6e,6309716e08a58c64871c823f44749686,6309716e08a58c64871c823f44749686
2,2,3b050c1502af19554bb9ef8efc67c00d,3b050c1502af19554bb9ef8efc67c00d,3b050c1502af19554bb9ef8efc67c00d,3b050c1502af19554bb9ef8efc67c00d,3b050c1502af19554bb9ef8efc67c00d
3,3,e29a8f57507d7e4a926a6bd3d51841d3,e29a8f57507d7e4a926a6bd3d51841d3,e29a8f57507d7e4a926a6bd3d51841d3,e29a8f57507d7e4a926a6bd3d51841d3,e29a8f57507d7e4a926a6bd3d51841d3
4,4,e8ff873135b65c7ddce395488597f694,e8ff873135b65c7ddce395488597f694,e8ff873135b65c7ddce395488597f694,e8ff873135b65c7ddce395488597f694,e8ff873135b65c7ddce395488597f694
...,...,...,...,...,...,...
572254,572254,0f59db4259ec62fcf00399b69786a3c0,3c66c29e5c26efc705c261732b977950,3c66c29e5c26efc705c261732b977950,0f59db4259ec62fcf00399b69786a3c0,0f59db4259ec62fcf00399b69786a3c0
572255,572255,dd45bfa90e9186681877c15eb0166a35,477ecc7fb10644c0d31408030cd464c6,477ecc7fb10644c0d31408030cd464c6,dd45bfa90e9186681877c15eb0166a35,dd45bfa90e9186681877c15eb0166a35
572256,572256,d954ae7d5ccb38784815b6dc3c9904f2,d954ae7d5ccb38784815b6dc3c9904f2,d954ae7d5ccb38784815b6dc3c9904f2,d954ae7d5ccb38784815b6dc3c9904f2,d954ae7d5ccb38784815b6dc3c9904f2
572257,572257,8377a80da218bf35ed0729be7c6efc7a,c31a95cdd5635c6edfbde9143286b9b7,c31a95cdd5635c6edfbde9143286b9b7,c31a95cdd5635c6edfbde9143286b9b7,c31a95cdd5635c6edfbde9143286b9b7
572258,572258,315f4c9e56ef6912a52cc8a5e737cb29,315f4c9e56ef6912a52cc8a5e737cb29,315f4c9e56ef6912a52cc8a5e737cb29,315f4c9e56ef6912a52cc8a5e737cb29,315f4c9e56ef6912a52cc8a5e737cb29

In [154]:
# sample = pd.DataFrame(test_source['session_id'].unique(), columns=["session_id"])

sample = pd.read_csv('sample.csv', usecols=['session_id', 'top1', 'top2', 'top3', 'top4', 'top5'])
sample = pd.DataFrame(sample['session_id'])

In [155]:
result = sample.merge(final_data[['session_id', 'top1', 'top2', 'top3', 'top4', 'top5']], on='session_id', how='left')
result

,session_id,top1,top2,top3,top4,top5
0,263698,7520bf419f5a42e79659b8c9f6699cfc,7520bf419f5a42e79659b8c9f6699cfc,7520bf419f5a42e79659b8c9f6699cfc,7520bf419f5a42e79659b8c9f6699cfc,7520bf419f5a42e79659b8c9f6699cfc
1,10768,ba2f3539de5a2af73fe030d2bf6a4d1e,ba2f3539de5a2af73fe030d2bf6a4d1e,ba2f3539de5a2af73fe030d2bf6a4d1e,ba2f3539de5a2af73fe030d2bf6a4d1e,ba2f3539de5a2af73fe030d2bf6a4d1e
2,369848,3cc413223e81ac8a19fffea026d33644,861521e7d6ea993b60a7a1cdee4ef943,861521e7d6ea993b60a7a1cdee4ef943,3cc413223e81ac8a19fffea026d33644,3cc413223e81ac8a19fffea026d33644
3,223379,b4419d918abaf2f2b9bfd8a9256d509c,af913db3de124e78559b2267f2a4d129,af913db3de124e78559b2267f2a4d129,b4419d918abaf2f2b9bfd8a9256d509c,b4419d918abaf2f2b9bfd8a9256d509c
4,617939,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
143059,551348,813b6c953333889e2a926afeefa4293a,7e44c7c1eb2b6f3d581e2d20fdfb84fd,7e44c7c1eb2b6f3d581e2d20fdfb84fd,813b6c953333889e2a926afeefa4293a,813b6c953333889e2a926afeefa4293a
143060,599399,NaN,NaN,NaN,NaN,NaN
143061,518478,d496ec58602e887814ca69fb2037a272,d496ec58602e887814ca69fb2037a272,d496ec58602e887814ca69fb2037a272,d496ec58602e887814ca69fb2037a272,d496ec58602e887814ca69fb2037a272
143062,659668,NaN,NaN,NaN,NaN,NaN
143063,609798,NaN,NaN,NaN,NaN,NaN

In [156]:
result.isna().sum()
# result.mode().iloc[0]
# result['top4'].value_counts()
result = result.apply(lambda col: col.fillna(col.mode().iloc[0]))
result

,session_id,top1,top2,top3,top4,top5
0,263698,7520bf419f5a42e79659b8c9f6699cfc,7520bf419f5a42e79659b8c9f6699cfc,7520bf419f5a42e79659b8c9f6699cfc,7520bf419f5a42e79659b8c9f6699cfc,7520bf419f5a42e79659b8c9f6699cfc
1,10768,ba2f3539de5a2af73fe030d2bf6a4d1e,ba2f3539de5a2af73fe030d2bf6a4d1e,ba2f3539de5a2af73fe030d2bf6a4d1e,ba2f3539de5a2af73fe030d2bf6a4d1e,ba2f3539de5a2af73fe030d2bf6a4d1e
2,369848,3cc413223e81ac8a19fffea026d33644,861521e7d6ea993b60a7a1cdee4ef943,861521e7d6ea993b60a7a1cdee4ef943,3cc413223e81ac8a19fffea026d33644,3cc413223e81ac8a19fffea026d33644
3,223379,b4419d918abaf2f2b9bfd8a9256d509c,af913db3de124e78559b2267f2a4d129,af913db3de124e78559b2267f2a4d129,b4419d918abaf2f2b9bfd8a9256d509c,b4419d918abaf2f2b9bfd8a9256d509c
4,617939,bc58d186329eda8b23e510ba98b2c1ea,c75e75a6baf65a3c26dbe641422d4e72,c75e75a6baf65a3c26dbe641422d4e72,c75e75a6baf65a3c26dbe641422d4e72,c75e75a6baf65a3c26dbe641422d4e72
...,...,...,...,...,...,...
143059,551348,813b6c953333889e2a926afeefa4293a,7e44c7c1eb2b6f3d581e2d20fdfb84fd,7e44c7c1eb2b6f3d581e2d20fdfb84fd,813b6c953333889e2a926afeefa4293a,813b6c953333889e2a926afeefa4293a
143060,599399,bc58d186329eda8b23e510ba98b2c1ea,c75e75a6baf65a3c26dbe641422d4e72,c75e75a6baf65a3c26dbe641422d4e72,c75e75a6baf65a3c26dbe641422d4e72,c75e75a6baf65a3c26dbe641422d4e72
143061,518478,d496ec58602e887814ca69fb2037a272,d496ec58602e887814ca69fb2037a272,d496ec58602e887814ca69fb2037a272,d496ec58602e887814ca69fb2037a272,d496ec58602e887814ca69fb2037a272
143062,659668,bc58d186329eda8b23e510ba98b2c1ea,c75e75a6baf65a3c26dbe641422d4e72,c75e75a6baf65a3c26dbe641422d4e72,c75e75a6baf65a3c26dbe641422d4e72,c75e75a6baf65a3c26dbe641422d4e72
143063,609798,bc58d186329eda8b23e510ba98b2c1ea,c75e75a6baf65a3c26dbe641422d4e72,c75e75a6baf65a3c26dbe641422d4e72,c75e75a6baf65a3c26dbe641422d4e72,c75e75a6baf65a3c26dbe641422d4e72

In [157]:

result.to_csv('result.csv',index=0)